canvas {
    border: 1px solid #553000;
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

@font-face {
    font-family: "FlappyBirdy";
    src: url("font/flappyBirdy.ttf");
}

body {
    background-color: #eccf7f;
}

.settings {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.settings>button {
    margin: 10px 10px;
    background-color: #e86101;
    border-radius: 10px;
    border-color: #553000;
    padding: 5px;
    cursor: pointer;
}

i {
    font-size: x-large;
    color: #f3f3f3;
    text-shadow: -2px 0 #553000, 0 2px #553000, 2px 0 #553000,
        0 -2px #553000;
}